@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}

.tool-tip-font-size {
  font-size: 0.75rem;
  color: var(--foreground);
}

.jumbo-text-header {
  font-size: 3.625rem;
  /* width: 708px; */
  height: 126px;
  line-height: 64px;
}

.some-para-text,
.footer-lora {
  font-family: Lora;
}

.footer-lora > ul {
  font-size: 14px;
}

.sub-text {
  width: 44.125rem;
}

.slider {
  position: relative;
  top: 2rem;
  background: transparent;
}
.black-button {
  background-color: #212121;
  border-radius: 25px;
  font-weight: 200;
  /* height: 50px; */
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.about-snippet {
  display: flex;
  justify-content: center;
  color: var(--foreground);
}

.title-h1 {
  font-size: 38px;
  font-weight: bold;
}

.about-snippet-text {
  font-size: 18px;
  font-weight: normal;
}

.our-projects {
  background-image: url("/banner-background.webp");
}

.subscribe {
  height: 250px;
}

#footer-col-1 {
  font-size: 20px;
}

#feature_description,
#feature_link {
  font-family: Lora;
  color: var(--foreground);
}
@media only screen and (min-width: 414px) and (max-width: 820px) {
 .jumbo-text-header{
  height: 100%;
 }
  .sub-text, .some-para-text{
    width: 100%;
  }
  .searchInput >input {
    width: 60px;
  }
  
}
